#title-slide .title {
    font-size: 3em;
}

.reveal .slides .columns {
    display: flex;
    align-items: center;
    height: 100%;
}

.reveal .slides .column {
    display: flex;
    align-items: center;
    height: 100%;
}

.reveal .slides .column ul {
    margin: auto;
}

.reveal pre code {
    /* Adjust line-height and padding to increase height */
    line-height: 1.5; /* Increase line spacing */
    padding: 10px;    /* Add padding around the code */
    max-height: none; /* Remove max-height restriction */
    overflow: visible; /* Ensure the code doesn't scroll */
    font-size: 0.9em;  /* Adjust font size if necessary */
}